import clsx from 'clsx'
import { memo } from 'react'

import styles from './index.module.css'

import type { FC } from 'react'

export type {{ pascalCase name }}Props = {
  className?: string
}

export const {{ pascalCase name }}: FC<{{ pascalCase name }}Props> = memo(({ className = '', ...props }) => {
  return (
    <div className={clsx(styles.{{ lowerCase name }}, className)} {...props}>
      {{ pascalCase name }}
    </div>
  )
})

{{ pascalCase name }}.displayName = '{{ pascalCase name }}'
